<div class="card" style="margin: -1%;">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Modifier Objet de Tontine</h4>
        <p class="card-category" style="font-weight: bold; color: white">Modifier un Objet de Tontine</p>
    </div>
    <div class="card-body">
        <form [formGroup]="editAObjetTontiForm" (ngSubmit)="onValiderObjetEditClicked()">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Libellé" formControlName="descri" autocomplete="off" 
                  [ngModel]="dialogData.objTonti.description">
                </mat-form-field>
              </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                     <textarea matInput placeholder="Compositions" formControlName="composition" 
                     [ngModel]="dialogData.objTonti.composition"></textarea>
                   </mat-form-field>
                </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="editAObjetTontiForm.invalid">Valider</button>
            <button mat-raised-button type="button" class="btn pull-right" (click)="dialogRef.close(false)">Annuler</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>