<div class="card card-profile" style="margin-bottom: 0;">
    <div class="card-avatar">
        <a href="javascript:void(0)">
            <img class="img" src="./assets/img/faces/marc.jpg" />
        </a>
    </div>
    <div class="card-body">
        <h6 class="card-category text-gray">{{ dialogData.client.personne.profPers }}</h6>
        <h4 class="card-title">{{ dialogData.client.personne.nomPers }} {{ dialogData.client.personne.prePers }}</h4>
        <tbody class="table table-striped row">
            <div class="col-md-6">
                <tr>
                    <th scope="row">Nom</th>
                    <td>{{ dialogData.client.personne.nomPers }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Prenom</th>
                    <td>{{ dialogData.client.personne.prePers }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Date et Lieu de Naissance</th>
                    <td>{{ dialogData.client.personne.datNaiPers | date:'dd/MM/yyyy' }} à {{ dialogData.client.personne.lieuNaiPers }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Sexe</th>
                    <td *ngIf="dialogData.client.personne.sexPers.valueOf() == 'M'">Masculin</td>
                    <td *ngIf="dialogData.client.personne.sexPers.valueOf() == 'F'">Féminin</td>
                  </tr>

            </div>
            
            <div class="col">
                <tr>
                    <th scope="row">Situation Matrimoniale</th>
                    <td>{{ dialogData.client.personne.sitMatPers }}</td>
                </tr>
                <tr>
                    <th scope="row">Profession</th>
                    <td>{{ dialogData.client.personne.profPers }}</td>
                </tr>
                <tr>
                    <th scope="row">Numéro de Téléphone</th>
                    <td>{{ dialogData.client.personne.numTelPers }}</td>
                </tr>
                <tr>
                    <th scope="row">Ville de résidence</th>
                    <td>{{ dialogData.client.personne.vilPers }}</td>
                </tr>
                <tr>
                    <th scope="row">Autres Informations</th>
                    <td>{{ dialogData.client.personne.autreinfos }}</td>
                </tr>
            </div>
            
        </tbody>
        <a href="javascript:void(0)" (click)="dialogRef.close()" class="btn btn-danger btn-round">Fermer</a>
    </div>
</div>