

<div>
  <div style="background-image: linear-gradient(rgba(255, 0, 200, 0.5), rgba(255, 255, 0, 0.5)), url('./assets/img/perso/tontine2.webp'); background-size: cover; background-position: top center; display: flex; align-items: center; justify-content: center; height: 100vh;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form [formGroup]="connnectForm" (ngSubmit)="loginClicked()" class="form ng-untouched ng-pristine ng-valid">
            <div class="card card-login">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Authentification</h4>
                <div class="social-line">
                </div>
              </div>
              <div class="card-body">
                <p class="card-description text-center">Veuillez vous connecter</p>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" placeholder="Identifiant" class="form-control" formControlName="login" 
                    (change)="identifiantSuplied()">
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" placeholder="Mot de Passe" class="form-control" 
                    formControlName="mdp">
                  </div>
                </span>
                <span class="bmd-form-group" *ngIf="confirmation">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" placeholder="Mot de Passe" class="form-control" 
                    formControlName="mdp2">
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-rose btn-link btn-lg" [disabled]="connnectForm.invalid">Connecter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>