<div class="card" style="margin: -2%;">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Modifier une Tontine</h4>
        <p class="card-category" style="font-weight: bold; color: white">Modifier une souscription de Tontine</p>
    </div>
    <div class="card-body">
        <form [formGroup]="editATontineForm" (ngSubmit)="onValiderTontineSaveClicked()">
            <div class="row">
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Code" autocomplete="off" 
                  [(ngModel)]="dialogData.tontine.numTont" [ngModelOptions]="{standalone: true}" readonly>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Mise" type="number" autocomplete="off" 
                  [(ngModel)]="dialogData.tontine.carnet.mise" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Objet de la tontine</mat-label>
                  <mat-select [(ngModel)]="dialogData.tontine.carnet.objet.idObjet" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let ob of objetsTontine; let i = index"
                     [value]="ob.idObjet">{{ ob.libelle }} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Carnet" type="text"  autocomplete="off" 
                  [(ngModel)]="dialogData.tontine.carnet.idCarnet" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Date de Début" type="date" 
                  [(ngModel)]="dialogData.tontine.dateDebut" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Date de Fin" type="date" 
                  [(ngModel)]="dialogData.tontine.dateFin" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Client concerné</mat-label>
                    <mat-select [(ngModel)]="dialogData.tontine.carnet.client.idClt" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let cli of clients; let i = index"
                       [value]="cli.idClt">{{ cli.idClt }} - {{ cli.personne.nomPers }} {{ cli.personne.prePers }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Agent Collecteur ayant Initié</mat-label>
                    <mat-select [(ngModel)]="dialogData.tontine.collecteur.idCollecteur" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let coll of collecteurs; let i = index"
                       [value]="coll.idCollecteur">{{ coll.idCollecteur }} - {{ coll.personne.nomPers }} {{ coll.personne.prePers }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>
            
            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="editATontineForm.invalid">Valider</button>
            <button mat-raised-button type="button" class="btn pull-right" (click)="dialogRef.close(false)">Annuler</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>