<div class="card" style="margin: -1%;">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Initier un ramassage</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="newForm" (ngSubmit)="save()">
            <div class="row">
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Tontine N°" type="number" formControlName="ton" autocomplete="off"
                  readonly>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Carnet N°" type="number" formControlName="car" readonly >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Date" type="datetime-local" formControlName="dat" autocomplete="off">
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Client" type="text" formControlName="clt" readonly>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Collecteur" type="text" formControlName="col" readonly>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>type de ramassage</mat-label>
                  <mat-select formControlName="typ" (selectionChange)="aServir()">
                    <mat-option value="Normal">Normal</mat-option>
                    <mat-option value="Arrangé">Arrangé</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <mat-label>Type de lot</mat-label>
                  <mat-select formControlName="nat">
                    <mat-option value="Nature">Nature</mat-option>
                    <mat-option value="Espece">Espece</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Pénalité" type="number" formControlName="pen">
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Complément" formControlName="com">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                   <textarea matInput placeholder="Objet de la tontine" formControlName="lott" readonly></textarea>
                 </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                   <textarea matInput placeholder="Lot" formControlName="lot"></textarea>
                 </mat-form-field>
              </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="newForm.invalid">Valider</button>
            <button mat-raised-button type="button" class="btn pull-right" (click)="dlRef.close(false)">Annuler</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>