<div class="main-content">

    <div *ngIf="isLoadingPage" style="position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;">
        
        <mat-spinner></mat-spinner>
        
        
    </div>

    <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults && !isLoadingPage"></mat-progress-bar>
    <div class="container-fluid" *ngIf="!isLoadingPage">
        
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title ">Liste des Caisses</h4>
                <p class="card-category" style="font-weight: bold; color: white"> Liste des Caisses du système</p>
            </div>
            <div class="card-body">
                <div style="padding-bottom: 6%;">
                    <div class="row">
                        <div class="col-sm-1">
                            <button mat-raised-button color="primary" (click)="onNewcaisseBottonClicked()">Nouveau</button>
                        </div>
                        <div class="col-md-7">

                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                                                          
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
                                
                                    <!-- ID Column -->
                                    <ng-container matColumnDef="codeCaisse">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
                                    <td mat-cell *matCellDef="let row"> {{row.codeCaisse}} </td>
                                    </ng-container>
                                
                                    <!-- Progress Column -->
                                    <ng-container matColumnDef="libeCaisse">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Libellé </th>
                                    <td mat-cell *matCellDef="let row"> {{row.libeCaisse}} </td>
                                    </ng-container>
                                
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="agence">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Agence </th>
                                    <td mat-cell *matCellDef="let row"> {{row.agence.libAgence}} </td>
                                    </ng-container>
                                
                                    <!-- Color Column -->
                                    <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                    <td mat-cell *matCellDef="let row"> 
                                        <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon" 
                                        (click)="onModifLCaisseClicked(row)">
                                        <mat-icon>edit</mat-icon>
                                        </button>
                                        <!--
                                        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                                        <mat-icon>more</mat-icon>
                                        </button>-->
                                        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" 
                                        (click)="onDeleteCaisseClicked(row)"
                                        [swal]="{ title: 'Etes-vous sure ?',
                                        text: 'Vous voulez supprimer la caisse ? \nCette action est irréversible. ',
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Oui, Supprimer !',
                                        cancelButtonText: 'Annuler' }"
                                        (confirm)="onConfirmCaisseDelet()"
                                        (dismiss)="onAnnulerCaisseDeleteClicked()"
                                        >
                                        <mat-icon>delete</mat-icon>
                                        </button>
                                        <!--
                                        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                                        <mat-icon>favorite</mat-icon>
                                        </button>-->
                                        <!--button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon" 
                                        (click)="onInfosAUserClicked(row)">
                                        <mat-icon>info</mat-icon>
                                        </button-->
                                    </td>
                                    </ng-container>
                                
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                
                                    <!-- Row shown when there is no matching data. -->
                                    <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="6" style="text-align: center;">Aucune ligne trouvée</td>
                                    </tr>
                                </table>
                                
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

